/********** Template CSS **********/
:root {
  --primary: #c100fc;
  --light: #f0fbfc;
  --dark: #6c757d;
}
.custom-icon-color {
  color: #c100fc;
}

.fw-medium {
  font-weight: 600 !important;
}

.fw-semi-bold {
  font-weight: 700 !important;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Button ***/
.btn {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  transition: 0.5s;
  border-radius: 5px;
  padding: 5px 15px;
}

.btn.btn-primary,
.btn.btn-secondary {
  color: #000!;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 0px;
}

.btn-primary {
  color: black;
  box-shadow: 0 0 40px 40px #b5fb3a inset, 0 0 0 0 #b5fb3a;
  transition: all 150ms ease-in-out;

  &:hover,
  &:focus {
    color: black;
    border-color: #718a66;
    outline: 0;
  }
}

.btn {
  &:hover {
    box-shadow: 0 0 10px 0 #b5fb3a inset, 0 0 10px 4px rgb(181, 251, 58);
  }
}

/*** Navbar ***/
.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
  margin-right: 30px;
  padding: 25px 0;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--primary);
}

@media (max-width: 991.98px) {
  .navbar-light .navbar-nav .nav-link {
    margin-right: 0;
    padding: 10px 0;
  }

  .navbar-light .navbar-nav {
    border-top: 1px solid #eeeeee;
  }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
  height: 75px;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--dark);
  font-weight: 500;
}

.navbar-light.sticky-top {
  top: -100px;
  transition: 0.5s;
  position: sticky;
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    margin-top: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  .navbar .dropdown-menu.fade-down {
    top: 100%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
  }

  .navbar .nav-item:hover .dropdown-menu {
    top: 100%;
    transform: rotateX(0deg);
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
  }
}
/*** Header carousel ***/
@media (max-width: 768px) {
  .header-carousel .owl-carousel-item {
    position: relative;
    min-height: 500px;
  }

  .header-carousel .owl-carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.header-carousel .owl-nav {
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
  margin: 7px 0;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff;
  font-size: 22px;
  transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
  background: var(--primary);
  border-color: var(--primary);
}

.page-header {
  background: linear-gradient(rgba(24, 29, 56, 0.7), rgba(24, 29, 56, 0.7)),
    url(../img/carousel-1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header-inner {
  background: rgba(15, 23, 43, 0.7);
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--light);
}

/*** Section Title ***/
.section-title {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}
#card {
  background-color: #4a4c62;
  color: white;
}

#card h5 {
  color: #b5f35b;
}
.section-title::before {
  position: absolute;
  content: "";
  width: calc(100% + 80px);
  height: 2px;
  top: 4px;
  left: -40px;
  background: var(--primary);
  z-index: -1;
}

.section-title::after {
  position: absolute;
  content: "";
  width: calc(100% + 120px);
  height: 2px;
  bottom: 5px;
  left: -60px;
  background: var(--primary);
  z-index: -1;
}

.section-title.text-start::before {
  width: calc(100% + 40px);
  left: 0;
}

.section-title.text-start::after {
  width: calc(100% + 60px);
  left: 0;
}

/*** Service ***/
.service-item {
  background: var(--light);
  transition: 0.5s;
}

.service-item:hover {
  margin-top: -10px;
  background: var(--primary);
}

.service-item * {
  transition: 0.5s;
}

.service-item:hover * {
  color: var(--light) !important;
}

/*** Categories & Courses ***/

/*Category on Home Page */

.category img,
.course-item img {
  transition: 0.5s;
}

.category a:hover img,
.course-item:hover img {
  transform: scale(1.1);
}

/*** Team ***/
.team-item img {
  transition: 0.5s;
}

.team-item:hover img {
  transform: scale(1.1);
}

/*** Testimonial ***/
.testimonial-carousel::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 1;
}

.testimonial-carousel::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 1;
}

@media (min-width: 768px) {
  .testimonial-carousel::before,
  .testimonial-carousel::after {
    width: 200px;
  }
}

@media (min-width: 992px) {
  .testimonial-carousel::before,
  .testimonial-carousel::after {
    width: 300px;
  }
}

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
  transition: 0.5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
  background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
  color: #ffffff !important;
}

.testimonial-carousel .owl-dots {
  margin-top: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  border: 1px solid #cccccc;
  transition: 0.5s;
}

.testimonial-carousel .owl-dot.active {
  background: var(--primary);
  border-color: var(--primary);
}

/** Header Image Backgrounds***/

#herobg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/band.jpg");
}
#teambg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/team-min.jpeg");
}
#eventsbg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/events.jpeg");
}
#drumsbg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/drumset.jpeg");
}
#guitarbg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/cat-1.jpg");
}
#keyboardbg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/cat-3.jpg");
}
#voicebg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/voicebg.jpeg");
}
#mixingbg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/dj.jpeg");
}
#contactbg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/contact.jpeg");
}
#soundproductionbg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/equipment.jpeg");
}

/***Flip Card ***/
.card {
  min-height: 350px;
  border-radius: 20px;
  border: black solid 1px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.4), 0 8px 24px 0 rgba(0, 0, 0, 0.19);
}
.card-body,
.card-title h5 {
  width: 100%;
  background-color: #333;
  color: rgb(181, 251, 58);
  border-radius: 0px 0px 10px 10px;
}

.flipbox {
  perspective: 1000px;
  position: relative;
  transform-style: preserve-3d;
  z-index: 1;
  margin-bottom: 40px;
  width: 100%;
}

.flipbox_inner {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  transform-style: preserve-3d;
  transition: transform 0.7s ease;
}

.flipbox_front,
.flipbox_back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateX(0);
  -webkit-transform: rotateX(0);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: transform 0.7s ease, -webkit-transform 0.7s ease;
}

.flipbox_front {
  background: #fff;
  transform: rotateY(0deg);
}
.flipbox:hover .flipbox_front {
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}

.flipbox_back {
  background: #343a40;
  text-align: center;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flipbox:hover .flipbox_back {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.flipbox .flipbox_back h3 {
  color: #fff;
  font-weight: 700;
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  .padyatri_team .col-md-3 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media only screen and (max-width: 575px) and (min-width: 479px) {
  .padyatri_team .col-6 {
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}

/*** Footer ***/
.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  font-weight: normal;
  border: 1px solid #ffffff;
  border-radius: 35px;
  transition: 0.3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

/** Table **/

.schedule-table table thead th {
  padding: 25px 50px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  position: relative;
  border: 0;
}
.schedule-table table thead th:before {
  content: "";
  width: 3px;
  height: 35px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  right: -1px;
  top: 50%;
  transform: translateY(-50%);
}
.schedule-table table thead th.last:before {
  content: none;
}
.schedule-table table tbody td {
  vertical-align: middle;
  border: 1px solid #e2edf8;
  font-weight: 500;
  padding: 30px;
  text-align: center;
}
.schedule-table table tbody td.day {
  font-size: 22px;
  font-weight: 600;
  background: #f0f1f3;
  border: 1px solid #e4e4e4;
  position: relative;
  transition: all 0.3s linear 0s;
  min-width: 165px;
}
.schedule-table table tbody td.active {
  position: relative;
  z-index: 10;
  transition: all 0.3s linear 0s;
  min-width: 165px;
}
.schedule-table table tbody td.active h4 {
  font-weight: 700;
  color: #000;
  font-size: 20px;
  margin-bottom: 5px;
}
.schedule-table table tbody td.active p {
  font-size: 16px;
  line-height: normal;
  margin-bottom: 0;
}
.schedule-table table tbody td .hover h4 {
  font-weight: 700;
  font-size: 20px;
  color: #000;
  margin-bottom: 5px;
}
.schedule-table table tbody td .hover p {
  font-size: 16px;
  margin-bottom: 5px;
  color: #000;
  line-height: normal;
}
.schedule-table table tbody td .hover span {
  color: #000;
  font-weight: 600;
  font-size: 18px;
}
.schedule-table table tbody td.active::before {
  position: absolute;
  content: "";
  min-width: 100%;
  min-height: 100%;
  transform: scale(0);
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 0.25rem;
  transition: all 0.3s linear 0s;
}
.schedule-table table tbody td .hover {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120%;
  height: 120%;
  transform: translate(-50%, -50%) scale(0.8);
  z-index: 99;
  background: #b5fb3a;
  border-radius: 0.25rem;
  padding: 25px 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s linear 0s;
}
.schedule-table table tbody td.active:hover .hover {
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
  opacity: 1;
}
.schedule-table table tbody td.day:hover {
  background: #b5fb3a;
  color: #000;
  border: 1px solid #b5fb3a;
}
@media screen and (max-width: 1199px) {
  .schedule-table {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
  .schedule-table table thead th {
    padding: 25px 40px;
  }
  .schedule-table table tbody td {
    padding: 20px;
  }
  .schedule-table table tbody td.active h4 {
    font-size: 18px;
  }
  .schedule-table table tbody td.active p {
    font-size: 15px;
  }
  .schedule-table table tbody td.day {
    font-size: 20px;
  }
  .schedule-table table tbody td .hover {
    padding: 15px 0;
  }
  .schedule-table table tbody td .hover span {
    font-size: 17px;
  }
}
@media screen and (max-width: 991px) {
  .schedule-table table thead th {
    font-size: 18px;
    padding: 20px;
  }
  .schedule-table table tbody td.day {
    font-size: 18px;
  }
  .schedule-table table tbody td.active h4 {
    font-size: 17px;
  }
}
@media screen and (max-width: 767px) {
  .schedule-table table thead th {
    padding: 15px;
  }
  .schedule-table table tbody td {
    padding: 15px;
  }
  .schedule-table table tbody td.active h4 {
    font-size: 16px;
  }
  .schedule-table table tbody td.active p {
    font-size: 14px;
  }
  .schedule-table table tbody td .hover {
    padding: 10px 0;
  }
  .schedule-table table tbody td.day {
    font-size: 18px;
  }
  .schedule-table table tbody td .hover span {
    font-size: 15px;
  }
}
@media screen and (max-width: 575px) {
  .schedule-table table tbody td.day {
    min-width: 135px;
  }
}

/* Sitemap */
.accordion-button {
  background-color: #343a40;
  color: white;
  font-weight: bold;
}

.accordion-button:not(.collapsed) {
  background-color: #4caf50;
}

.dropdown-menu {
  display: none;
  overflow: hidden;
}

.dropdown-menu ul {
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

.dropdown.show .dropdown-menu {
  display: block;
}
.dropdown.show .dropdown-menu ul {
  max-height: 150px;
}
fieldset {
  border: 1px solid #ddd; /* Light gray border */
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px; /* Slightly round the corners */
}
